<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Blog Home!</h1>
    <h2><a href="http://127.0.0.1:8000/blog/post/">post</a></h2>
    <h2><a href="http://127.0.0.1:8000/blog/create/">create</a></h2>
    <h2><a href="http://127.0.0.1:8000/shopping/admin/">shopping_admin</a></h2>
    <h2><a href="http://127.0.0.1:8000/shopping/shop/">shopping_shop</a></h2>
    <h2><a href="http://127.0.0.1:8000/shopping/item/">shopping_item</a></h2>
    <h2><a href="http://127.0.0.1:8000/payment/cart/">payment_cart</a></h2>
    <h2><a href="http://127.0.0.1:8000/payment/purchase/">payment_purchase</a></h2>
    <h2><a href="http://127.0.0.1:8000/payment/complete/">payment_complete</a></h2>
    <h2><a href="http://127.0.0.1:8000/local/local-shops/">local-shops</a></h2>
</body>
</html>